@keyframes spinner {
    to {transform: rotate(360deg);}
}

@keyframes fadeIn {
    0% {
        opacity:0;
        visibility:hidden;
    }
    100% {
        opacity:1;
        visibility:visible;
    }
}
@keyframes fadeOut {
    0% {
        opacity:0;
        visibility:visible;
    }
    100% {
        opacity:1;
        visibility:hidden;
    }
}


@keyframes pulse{
	0%{
		box-shadow: 0px 0px 2px 0px rgba(173,0,0,.6);
	}
	65%{
		box-shadow: 0px 0px 2px 5px rgba(173,0,0,.6);
	}
	90%{
		box-shadow: 0px 0px 2px 5px rgba(173,0,0,0);
	}
}

