body{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(red,black);
  overflow: hidden;
}




h1{
  text-align: center;
  font-size: 5em;
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
 position: absolute;
 top: 40%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
 color: white;
}

p{
  text-align: center;
  font-size: 20px solid;
 margin: 0;
 padding: 0;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 position: absolute;
 top: 55%;
 left: 40%;
 transform: translateX(-30%) translateY(-70%);
 color: white;
}

a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: absolute;
  top: 70%;
 left: 30%;
 transform: translateX(150%) translateY(-50%);
 font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a:hover{
  background-color: rgb(212, 110, 110);
  color: black;
  
}

.previous{
  background-color: #f1f1f1;
  color: grey;
  border-radius: 5px;
}