body{
  padding: 10%;
  background:rgb(255, 93, 93);
  font-family: "Avenir";
}
article { 
display: block; 
text-align: center; 
max-width: 650px; 
margin: 0 auto; 
color:white;
}

h1 { 
font-size: 30px;
margin: 0 auto; 
margin-top:235px;
}
@media (max-width:500px){
h1{
    margin-top:125px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    display:block;
    color: white;
}
p{
    width:75%;
    text-align: center;
    font-size: 18px solid;
    margin: 0 auto;
    display:block;
    color: white;
}
}