body {
  padding: 10%;
  background: rgb(255, 93, 93);
  font-family: "Avenir";
}
article {
  display: block;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1 {
  font-size: 30px;
  white-space: nowrap;
  margin: 20px auto;
}
@media (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
  p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    display: block;
    color: white;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}
