
html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  overflow-x:hidden;
}

html,
body {
  background:black;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Avenir";
}

.card-text{
    font-size:30px
}





.hide{
   display: none;
   margin-top:50px;
}

.fadeIn{
  animation: fadeIn 3s;
}
.fadeOut{
  animation: fadeOut 3s;
}

.chartDiv{
  width:75%;
}

@media screen and (max-width: 750px) {
  
  
  .chartDiv{
    width:100%;
  }
  
}
.countryButton{
  transition:0.5s;
}
.countryButton:hover{
  color:white;
  background: black;
  transition:0.5s;
}





@media only screen and (max-width:980px){
  .discountHeader{
      font-size:9px;
      width:100%;
  }
  .mainSpan{
      margin-top: 105px;
  }
  .mainHeaderTitle{
      font-size:25px;
  }
  .secondMainHeader{
      font-size:13px;
  }
  #header-image{
      border-radius:15px;
      width:75px;
  }
  .gender-choice{
      display:block;
      margin:0 auto;
  }
  .shopGirlsMain, .shopGuysMain{
      margin-left: 0px;
      margin-bottom:10px;
      margin-right: 0px;
  }
}
#top-top-header{
  background-color:black; display:grid;
  grid-template-columns: 1fr;
  background-color: black;
  height: 3.75em;
  width: 100%;
  font-size: 15px;
  color: black;
  text-align:center;
  align-items:center;
  
}
.last-day:hover{
  text-decoration-line: underline !important;
  cursor:pointer;
}
.logo-header{
  display:grid;
  grid-template-columns: 1fr;
  background-color: black;
  height: 3.75em;
  width: 20%;
  font-size: 15px;
  color: #FAFAFA;
  text-align:center;
  align-items:center;
  position:fixed;
}

@media (max-width: 374px) {
  .logo-header{
      display: none;
  }
}

@media only screen and (max-width:350px){
  .discountHeader{
      font-size:8px;
      width:100%;
  }
}