
html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Avenir";
}

.card-text{
    font-size:30px
}

.outter {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  height: calc(100% - 3em);  /* adjusted */
}


.tableClass {
  margin: 10px;
/* adjusted */
  border: 2px solid;
  border-collapse: collapse;
  border-spacing: 0;
}

.tableClass th,
.tableClass td{
    border: 1px solid black;
}





.hide{
   display: none;
   margin-top:50px;
}
td, th {
  border:2px solid black;
  border-right:none;
  border-left:1px solid #dddddd;
  text-align: center;
 
}
td{
    font-weight: bold;
    font-size:10px;
}


.fadeIn{
  animation: fadeIn 3s;
}
.fadeOut{
  animation: fadeOut 3s;
}

.chartDiv{
  width:75%;
}

@media screen and (max-width: 750px) {
  
  .chartDiv{
    width:100%;
  }
  
}
.countryButton{
  transition:0.5s;
}
.countryButton:hover{
  color:white;
  background: black;
  transition:0.5s;
}
