
.main-navbar {
  width:100vw;
    background-color: black;
    overflow: auto;
    margin-bottom: 50px;
  }
  
  .main-navbar a {
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    color:white;
    transition:0.25s;
  }
  .main-navbar a:hover {
    color:rgb(220, 220, 220);
    transition:0.25s;
  }
  
  @media screen and (max-width: 500px) {
  
    .main-navbar a {
      float: none;
      display: block;
    }
  }

  .recording{
    width: 12px;
	height: 12px;
    font-size: 0;
    margin-bottom: 3px;
    margin-right: 5px;
	background-color: red;
    border: 0;
	border-radius: 50%;
	outline: none;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.loader{
    content: '';
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 20px;
    margin-top:2px;
    display:block;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: white; 
    /* white or black both work fine */
    animation: loading 0.7s linear infinite;
  }