
.card-text{
    font-size:30px
}
body{
    font-family: "Avenir";
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 50%;
  border:2px solid black;
}
.hide{
    display:none;
}
td, th {
  border:2px solid black;
  border-right:none;
  border-left:1px solid #dddddd;
  text-align: center;
  padding:8px;
}
td{
    font-weight: bold;
    font-size:15px;
}


